
html{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
.content{
    background-color: aliceblue;
}
.formulario{
    padding: 8px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-bottom: grey solid 1px;
    border-left: grey solid 1px;
}
.centrado{

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.divlogin{
    float: left;
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 24px;
    max-width: 400px;
    border: black solid 1px;
    padding: 16px;
    background-color: cornsilk;
}
input[type=submit]{
    margin:8px;
    min-width: 220px;
}

.borde{
    border: black solid 1px;
}
i.material-icons{
    color:red;
    display:none;
}
.idusuario{
    display: none;
}
.menu{
    height: 100%;
    margin: 0px;

}
.contenido{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body > div > div.col.s12.m8.l9.contenido.cyan.lighten-5{
    padding:0px;

}

select{
    display: block;
}